*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background: #5434af;
    height: 50px;
    width: 100%;
}
.btn_menu{
    float: right;   
    display: none;
}

nav ul {
    float:right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}


nav ul li a{
    color: blanchedalmond;
    font-size: 15px;
    padding: 17px 20px;
    text-transform: uppercase;
    }

nav li a:hover{
    background-color:#846dc4;
   
}


label.logo{
    color: antiquewhite;
    font-size: 35px;
    line-height: 50px;
    padding: 0 100px;
    font-weight: bold;
}



@media (max-width:768px){
    .btn_menu{
        display: block;
        font-size: 20px;
        padding: 15px;
        color: #fff;
        cursor: pointer;
    }
    #links{
        position: fixed;
        background-color: #1d123a;
        width: 100%;
        top: 50px;
        left: 0%;
        text-align: center;
        transition: all 1s;
        display: none;
    }
    nav ul li{
        display: block ;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 20px;
    }
    
}